footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: 1rem;
    padding: 2rem;
    margin-top: 4rem;
}

.empresa__nome{
    font-size: 1.1rem;
}

footer div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.criador a {
    text-decoration: none;
    color: var(--cor-de-fundo);
}

